.nav-list{
    display: flex; justify-content: space-evenly;
}
.nav-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    margin-top: 15px;
    font-size: 16px;
}