.navbar{   
    background-color: aqua; color:green;
    font-size: 20px;
    font-weight: bolder;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    height: 100px; 
    width: 100%;   
    font-family:Georgia, 'Times New Roman', Times, serif

};
.nav-title{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.nav-list{
    width: 500px;
    display: flex; 
    justify-content: space-evenly;

}
.nav-items{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-top: 15px;
    font-size: 18px;
}